%figure.kudo
	%a.kudos.kudoable{:id=>"kudo-#{@post.id}"}
		.circle
			.filled &nbsp;
		%p.count
			%span{:id=>"kudo-#{@post.id}-count"}
				= @post.kudos
			%span.identifier
				Kudos
	.pbar
		.progress &nbsp;
